ins.play-gif{
    position: absolute;
    font-family: Arial, sans serif;
    width: 50px;
    height: 50px;
    line-height: 2.8rem;
    text-align: center;
    background: #222;
    font-size: 1em;
    color: #fff;
    border-radius: 50%;
    opacity: .8;
    border: 4px solid #fff;
    cursor:pointer;
    text-decoration: none;
}

ins.play-gif:hover{
    opacity:.5;
}
